<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:gravity="center_horizontal"
    android:weightSum="1">
    <include
        android:id="@+id/toolbar"
        layout="@layout/reusable_toolbar"
        android:layout_height="wrap_content"
        android:layout_width="match_parent" />
    <LinearLayout
        android:orientation="vertical"
        android:layout_margin="@dimen/layout_margin"
        android:layout_width="match_parent"
        android:layout_height="match_parent">
        <ImageView
            android:layout_marginTop="16dp"
            android:src="@drawable/ic_demo_logo"
            android:elevation="15dp"
            android:layout_width="match_parent"
            android:layout_height="64dp"
            android:layout_weight="0.16" />
        <TextView
            android:layout_marginTop="32dp"
            android:text="@string/localizando_chaveiro"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/textView"
            android:textSize="24sp"
            android:textAlignment="center"
            android:textStyle="normal|bold" />
        <ProgressBar
            android:layout_marginTop="32dp"
            style="?android:attr/progressBarStyle"
            android:layout_width="match_parent"
            android:layout_height="148dp"
            android:id="@+id/progressBar"
            android:layout_weight="0.20" />
    
  <Button
      android:backgroundTint="@color/buttonYellow"
      android:textColor="#FFF"
      android:text="@string/cancelaratendimento"
      android:layout_marginTop="8dp"
      android:layout_width="match_parent"
      android:layout_height="wrap_content"
      android:id="@+id/cancelaratendimento"
      android:layout_weight="0.06" />


    </LinearLayout>
</LinearLayout>